body{


background-image: url(imagens/restaurante.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.quadrado{


width: 500px;
height: 600px;
border-radius: 40px;
background-color: #8b7051;
position: relative;
left: 400px;


}

#preco{

position: relative;
top: 500px;
left: 50px;
height: 60px;
width: 400px;
border-radius: 40px;
font-size: 40px;



}