body{


background-image: url(imagens/restaurante.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.quadrado{


width: 400px;
height: 600px;
border-radius: 40px;
background-color: #8b7051;
position: relative;
left: 750px;



}

#preco{

position: relative;
top: 255px;
left: 200px;
height: 60px;
width: 180;
border-radius: 40px;
font-size: 20px;



}

#mao{

width: 300px;
height: 200px;


}

#pote{


width: 100px;
height: 100px;


}

#mesa{


height: 400px;
width: 400px;
position: relative;
left:80px;
top: 507px;

}

#select{

border-radius: 20px;
position:absolute;
top: 325px;
left: 240px;


}

#btn-gorjeta{

    position: absolute;
    top: 450px;
    left: 268px;
    
}